header div h1{
    text-shadow: -2px 2px 14px rgba(255, 255, 255, 1);
}

header div h2{
    text-shadow: -2px 2px 14px rgba(255, 255, 255, 1);
}

header span{
    text-shadow: -2px 2px 14px rgba(213,140,18,1);
}

